extends ../dashboard

block content
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>帳號管理 <small>Accounts Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        a(class="btn" href="/system/accounts/create")
                            <i class="icon-plus"> 新增帳號</i>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">帳號管理</a></li>
            </ul>
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption"></div>
                            </div>
                            <div class="portlet-body flip-scroll">
                                <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="numeric">是否啟用</th>
                                        <th class="numeric">是否為超級使用者</th>
                                        <th class="numeric">帳號</th>
                                        <th class="numeric">使用者姓名</th>
                                        <th class="numeric">信箱</th>
                                        <th class="numeric"></th>
                                    </tr>
                                </thead>
                                <tbody id="list">
                                    if( result.allAccount )
                                        each row in result.allAccount
                                            -var is_active = ( row.is_active )? "Yes": "No"
                                            -var super_user = ( row.super_user )? "Yes": "No"
                                            <tr>
                                                <td class="numeric">#{is_active}</td>
                                                <td class="numeric">#{super_user}</td>
                                                <td class="numeric">#{row.account}</td>
                                                <td class="numeric">#{row.user_name}</td>
                                                <td class="numeric">#{row.email}</td>
                                                <td class="numeric">
                                                    <a class=" btn default" href="/system/accounts/show/#{row.id}" >查看</a>
                                                </td>
                                            </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END SAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
        <div>
    </div>
block css
    <link rel="stylesheet" type="text/css" href="/plugin/sweetAlert/sweetalert.css"/>
block script
    <script type="text/javascript" src="/plugin/sweetAlert/sweetalert.min.js"></script>
    if(result.errMessage)
        <script> swal("發生錯誤","#{result.errMessage}", "error"); </script>