extends ../dashboard

block content
    -var postLink = ( result.canEdit )? `${baseUrl}/system/accounts/update` : ``
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>帳號管理 <small>Account Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        a(class="btn" href=baseUrl+"/system/accounts")
                            <i class="icon-action-undo"> 回列表頁</i>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="#{baseUrl}/system/accounts">帳號列表</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">修改</a>
            </ul>
        <div>

        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="icon-settings font-red-sunglo"></i>
                        <span class="caption-subject bold uppercase">#{result.account.user_name} - 帳號明細</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form action="/system/accounts/update" method="POST">
                        input(type="hidden" name="_csrf" value=result._token)
                        input(type="hidden" name="id" value=result.account.id)

                        <div class="form-body">
                            <div class="form-group form-md-line-input">
                                -var nowDepartment
                                if(result.allDepartment)
                                    <select class="form-control select2me"  name="department">
                                        each row in result.allDepartment
                                            - nowDepartment = ( row.ME001 === result.account.department)? row.ME002 : ""
                                            -var onSelected = ( row.ME001.trim() === result.account.department.trim())? "selected":""
                                            <option #{ onSelected } value="#{row.ME001}"> #{row.ME002} </option>
                                    </select>
                                <label for="form_control_0">使用者部門 : #{nowDepartment}</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                -var is_active_check = ( result.account.is_active )? "checked" : ""
                                -var super_user_check = ( result.account.super_user )? "checked" : ""
                                -var is_edit_check = ( result.account.is_can_edit )? "checked" : ""
                                <input type="checkbox" name="super_user" #{super_user_check} class="make-switch" data-size="small">
                                <label >是否為超級帳號</label>
                                <input type="checkbox" name="is_active" #{is_active_check} class="make-switch" data-size="small">
                                <label >是否啟用帳號</label>
                                <input type="checkbox" name="is_can_edit" #{is_edit_check} class="make-switch" data-size="small">
                                <label >可新增或編輯</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <input type="text" class="form-control"  id="form_control_2" name="account" data-request="true" placeholder="輸入帳號"  value="#{result.account.account}">
                                <label for="form_control_2">帳號</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <input type="text" class="form-control"  id="form_control_3" name="user_name" data-request="true" placeholder="輸入帳號姓名"  value="#{result.account.user_name}">
                                <label for="form_control_3">使用者姓名</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <input type="text" class="form-control"  id="form_control_4" name="email" data-request="true" placeholder="請輸入可收信的信箱"  value="#{result.account.email}">
                                <label for="form_control_4">連絡信箱</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <input type="text" class="form-control"  id="form_control_4" name="ip" data-request="true" placeholder="請輸入該名用戶電腦ip"  value="#{result.account.ip}">
                                <label for="form_control_4">電腦IP</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <input type="password" class="form-control"  id="form_control_4" name="_password" placeholder="請輸入六位數以上密碼"  value="">
                                <label for="form_control_4">修改密碼</label>
                            </div>
                            <div class="form-actions noborder">
                                //- <button type="button" class="btn red" id="delete" data-link="/system/accounts/delete" data-backLink="/system/accounts">刪除帳號</button>
                                <a class="btn default" href="/system/accounts">回列表</a>
                                <button type="button" class="btn green submitBtn" >儲存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

block css
    <meta name="_token" content="#{result._token}" />
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/select2/select2.css"/>
    <link rel="stylesheet" type="text/css" href="/plugin/sweetAlert/sweetalert.css"/>
block script
    <script type="text/javascript" src="/assets/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="/plugin/sweetAlert/sweetalert.min.js"></script>
    <script src="/javascripts/tag.js"></script>
    <script src="/javascripts/submit.js"></script>
    <script src="/javascripts/delete.js"></script>
    if(result.errMessage)
        <script> swal("有必填欄位空白。","#{result.errMessage}", "error"); </script>