extends ../dashboard

block content
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>產品設計 <small>Product Design Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        <a class="btn" data-target="#modal" data-toggle="modal" > <i class="icon-magnifier">按我搜尋</i> </a>
                        <a class="btn" href="/system/prototype/create" ><i class="icon-plus"> 新增</i></a>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">產品設計</a></li>
            </ul>
                <input type="hidden" name="_csrf" value="#{_token}" />
                <div class="row" id="productList">
                    if( product.length > 0 )
                        each row in product       
                            -var image = (row.Image[0])? `/static/designs/${row.Image[0].image}`:""
                            <div class="col-sm-12 col-md-4" style="min-height: 375px;">
                                <div class="thumbnail">
                                    <a id="showAll" href="javascript:;" data-id="#{row.id}">
                                        <div style="width: 100%; height: 280px; background-image:url(#{image}); background-repeat:no-repeat;"></div>
                                        //- <img src="#{image}" alt="" style="width: 100%; height: 200px;">
                                    </a>
                                    <div class="caption">
                                        if( row.owner == permission.account )
                                            <h3 style="display:inline-block;">
                                                <a href="/system/prototype/show/#{row.id}">#{row.title}</a>
                                            </h3>
                                        else
                                            <h3 style="display:inline-block;">#{row.title}</h3>
                                        if( permission.can_answer )
                                            <a class="btn btn-default setMessage" data-target="#message" data-toggle="modal"  style="display:inline-block; margin-left:5px;" data-id="#{row.id}" >留言討論</a>
                                        <p>#{row.slogan}</p>
                                        <p>!{row.statusBtns}</p>
                                    </div>
                                </div>
                            </div>

                </div>
            </div>
        <div>
    </div>

    <div class="modal fade " id="modal" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">搜尋產品設計</h4>
                </div>
                <div class="modal-body" style="margin-left:20px">
                    <div class="row">
                        //- <div class="note note-info note-shadow">
                        //-     <p>「輸入訂單查詢」如果有輸入訂單號，搜尋的內容將會以「訂單號」為主要條件搜尋</p>
                        //- </div>
                    </div>
                    <div class="row" id="searchInputs">
                        //- <div class="input-group">
                        //-     <input type="text" class="form-control date-picker"  data-date-format="yyyy-mm" name="date">
                        //-     <span class="help-block">選擇預計交貨日期</span>
                        //- </div>
                        <div class="input-group">
                            <select class="form-control" name="desinger">
                                <option value="0">請選擇設計師</option>
                                each desinger in designers
                                    <option value="#{desinger.id}">#{desinger.user_name}</option>
                            </select>
                            <span class="help-block">選擇特定設計師作品</span>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control"  id="form_control_1" name="keyword" data-request="true" placeholder="輸入關鍵字"  value="">
                        </div>
                        <span class="help-block">關鍵字</span>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="#{_crsf}" />
                <div class="loader"></div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">關閉</button>
                    <button type="button" class="btn blue searchBtn">送出</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade " id="message" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">討論紀錄</h4>
                </div>
                <div class="modal-body" style="margin-left:20px">

                    <div class="row portlet" id="searchInputs">
                        <div class="portlet-body">
                            <div class="task-content">
                                <div class="scroller" style="height: 600px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" >
                                    <!-- START TASK LIST -->
                                    <div class="task-list">
                                        <div class="task-title" sytle="font-size:17px;" id="messageList"></div>
                                    </div>
                                    <!-- END START TASK LIST -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form id="send_message">
                            <input type="hidden" name="_csrf" value="#{_token}" />
                            <input type="hidden" name="id" value="" />
                            <span>留言內容：</span>
                            <textarea name="content" style="width:400px;"></textarea>
                        </form>
                    </div>
                </div>
                <div class="loader"></div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">關閉</button>
                    <button type="button" class="btn blue sendMessageBtn">送出</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" role="dialog" aria-hidden="true">
        <!-- Background of PhotoSwipe. It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 of them in the DOM to save memory.Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">
                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="全螢幕模式"></button>

                    <button class=" pswp__button pswp__button--zoom" title="放大/縮小"></button>

                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div> 
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
block css
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css"/>
    <link rel="stylesheet" type="text/css" href="/plugin/sweetAlert/sweetalert.css"/>
    <link rel="stylesheet" href="/plugin/photoswipe/photoswipe.css"> 
    <link rel="stylesheet" href="/plugin/photoswipe/default-skin/default-skin.css"> 
    <style>.loader{ display:none; border: 16px solid #f3f3f3;border-radius: 50%;border-top: 16px solid #3498db;width: 70px;height: 70px;-webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite;}@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }100% { -webkit-transform: rotate(360deg); } } @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }    </style>

block script
    <script type="text/javascript" src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/assets/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/plugin/sweetAlert/sweetalert.min.js"></script>
    <script src="/plugin/photoswipe/photoswipe-ui-default.min.js"></script> 
    <script src="/plugin/photoswipe/photoswipe.min.js"></script> 
    
    <script src="/javascripts/datepick.js"></script>
    <script src="/javascripts/prototype.js"></script>

    //- if(result.message && result.data.length == 0)
    //-     <script>swal("查詢結果","#{result.message}", "info");</script>
    