<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>Sigma ERP</title>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		//- <meta name="_csrf" content="#{_token}"/>
		//- <link rel="manifest" href="/javascripts/manifest.json">
		include includes/css.pug
		block css
	</head>
	<body class="page-header-fixed page-sidebar-closed-hide-logo  page-sidebar-closed">
		include includes/header.pug
		<div class="clearfix"></div>

		<!-- BEGIN CONTAINER -->
		<div class="page-container">
			include includes/sidemenu.pug
			<!-- BEGIN CONTENT -->
			<div class="page-content-wrapper">
				<div class="page-content">
				
					block content
					
				</div>
			</div>
			<!-- END CONTENT -->
		</div>
		<div class="page-footer">
			<div class="page-footer-inner">2017 © Sigma by ZH.</div>
			<div class="scroll-to-top" style="display: block;">
				<i class="icon-arrow-up"></i>
			</div>
		</div>
		<!-- END CONTAINER -->
		include includes/script.pug
		block script
	</body>
</html>
