<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    include includes/css.pug
    //- <link href="/plugin/editor/summernote.css" rel="stylesheet">
    <link href="/editor/css/froala_editor.css" rel="stylesheet">
  </head>
  <body>
    <form action="http://localhost:8899/editPost" id="app" method="POST" enctype="multipart/form-data" >
      //- <textarea class="drag-text" name="content">testet</textarea>
      <editor api-key="82628pyirjetlllyxjcsvlpo5vgieo4sghkleznl9oibtl06" :init="{plugins: 'wordcount'}"></editor>
      <a id="submti">送出</a>
    </form>
    include includes/script.pug
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/tinymce-vue/tinymce-vue.min.js"></script>
    //- <script src="/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/javascripts/editor.js"></script>
  </body>
  
</html>
