doctype html
html
  <!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
  <!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
  <!--[if !IE]><!-->
  <!--<![endif]-->
  head
    title="Sigma ERP"
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all')
    link(rel='stylesheet', href='/assets/global/plugins/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/global/plugins/simple-line-icons/simple-line-icons.min.css')
    link(rel='stylesheet', href='/assets/global/plugins/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/global/plugins/uniform/css/uniform.default.css')
    link(rel='stylesheet', href='/assets/admin/login.css')
    link(rel='stylesheet', href='/assets/global/css/components-rounded.css')
    link(rel='stylesheet', href='/assets/global/css/plugins.css')
    link(rel='stylesheet', href='/assets/admin/layout/css/layout.css')
    link(rel='stylesheet', href='/assets/admin/layout/css/themes/default.css')
    link(rel='stylesheet', href='/assets/admin/layout/css/custom.css')
  body(class="login")
    div(class="menu-toggler sidebar-toggler")

    div(class="logo")
    
    div(class="content")

      form(class="login-form" action="/login" method="post"  )
        input(type="hidden" name="_csrf" value=_csrf)
        h3(class="form-title")
          ='Sign In'
        
        if errMessage
          div(class="alert alert-danger")
            button(class="close" data-close="alert")
            span #{errMessage}

        div(class="form-group")
          label(class="control-label visible-ie8 visible-ie9") 
            ="Username"
          input(class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username")

        div(class="form-group")
          label(class="control-label visible-ie8 visible-ie9") 
            ="Password"
          input(class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="Password")

        div.form-group !{captcha}
        div(class="form-group")
          label(class="control-label visible-ie8 visible-ie9") 
          input(class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="captcha" name="captcha")

        div(class="form-actions")
          button(type="submit" class="btn btn-success uppercase")
            ="Login"
          //- a(href="/manual/index" target="_blank" class="forget-password")
          //-   ="不知道怎麼使用嗎？"
          //- <br />
          //- a(href="javascript:;" id="forget-password" class="forget-password")
          //-   ="忘記密碼 / 首次登入"

      form(class="forget-form" id="accountForm" method="post" )
        input(type="hidden" name="_csrf" value=_csrf)
        input(type="hidden" name="action" value="send-verify")
        h3 忘記密碼 / 首次登入
        p 輸入帳號及信箱重設密碼，信箱用來收取驗證碼
        p(class="message" style="color:red;")
        div.form-group
          input(class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="帳號" name="account")
        div.form-group  
          input(class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="驗證信箱" name="email")
        <div class="form-group checkCode"></div>
        div(class="form-actions")
          button(type="button" id="backBtn" class="btn btn-default")
            ="返回"
          button(type="button" id="submit" class="btn btn-success uppercase pull-right")
            ="送出"
      //- form(class="set-form" id="setPassForm" method="post" style="display:none")
      //-   input(type="hidden" name="_csrf" value=_csrf)
      //-   input(type="hidden" name="account" id="toReset" value="")
      //-   h3 輸入新密碼
      //-   <p>
      //-     <ul>
      //-       <li>密碼長度不可小於6位數</li>
      //-       <li>密碼開頭必須要為大寫英文字</li>
      //-       <li>不可以設定簡單密碼, 如: 1234</li>
      //-     </ul>
      //-   </p>
      //-   p(class="message-res" style="color:red;")
      //-   div.form-group
      //-     input(class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="新密碼" name="_password")
      //-   div.form-group  
      //-     input(class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="重複輸入新密碼" name="re_password")
      //-   <div class="form-group checkCode"></div>
      //-   div(class="form-actions")
      //-     button(type="button" id="backBtn" class="btn btn-default")
      //-       ="返回"
      //-     button(type="button" id="passSubmit" class="btn btn-success uppercase pull-right")
      //-       ="送出"
    div.copyright 2017 © Sigma

    script(src="javascripts/login.js")