extends ../dashboard

block content
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>供應商評比 <small>Firm Score Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        <a class="btn" data-target="#firm" data-toggle="modal"><i class="icon-magnifier">廠商狀況</i></a>
                        <a class="btn" data-target="#modal" data-toggle="modal" > <i class="icon-magnifier">按我搜尋</i> </a>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">供應商評比</a></li>
            </ul>
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        //- <div id="pagination" style="padding-bottom:10px; text-align:right;">
                        //-     if( result.pageCount > 2 || result.pageCount == 2 )
                        //-         -var n = 0;
                        //-         <div style="display:inline-block; font-size:16px;">分頁： </div>
                        //-         <div style="display:inline-block" id="selectDiv">
                        //-             <select id="page">
                        //-                 while n < result.pageCount
                        //-                     -var selected = (n+1 == result.nowPage)? "selected": ""
                        //-                     <option value="#{n+1}" #{selected}>第#{n+1}頁</option>
                        //-                     -n++
                        //-             </select>
                        //-         </div>
                        //- </div>
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">工單</div>
                            </div>

                            <div class="portlet-body flip-scroll">
                                <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="numeric">PO Number</th>
                                        <th class="numeric">預計交貨</th>
                                        <th class="numeric">產品品號</th>
                                        <th class="numeric">產品品名</th>
                                        <th class="numeric">產品規格</th>
                                        <th class="numeric">採購數量</th>
                                        <th class="numeric">單位</th>
                                        <th class="numeric"></th>
                                    </tr>
                                </thead>
                                <tbody id="list">
                                    if( data.length > 0 )
                                        each row in data
                                            <tr>
                                                <td class="numeric">#{row.TD024}</td>
                                                <td class="numeric">#{row.TD012}</td>
                                                <td class="numeric">#{row.TD004}</td>
                                                <td class="numeric">#{row.TD005}</td>
                                                <td class="numeric">#{row.TD006}</td>
                                                <td class="numeric">#{row.TD008}</td>
                                                <td class="numeric">#{row.TD009}</td>
                                                <td class="numeric">
                                                    <a class=" btn default" href="/system/firmscore/show/#{row.TD002}-#{row.TD004}" data-target="#detail" data-toggle="modal">輸入</a>
                                                </td>
                                            </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        <div>
    </div>

    <div class="modal fade " id="modal" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">搜尋採購單</h4>
                </div>
                <div class="modal-body" style="margin-left:20px">
                    <div class="row">
                        <div class="note note-info note-shadow">
                            <p>「輸入訂單查詢」如果有輸入訂單號，搜尋的內容將會以「訂單號」為主要條件搜尋</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group">
                            <input type="text" class="form-control date-picker"  data-date-format="yyyymmdd" name="date">
                            <span class="help-block">選擇預計交貨日期</span>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control"  id="form_control_1" name="poNumber" data-request="true" placeholder="輸入訂單編號查詢"  value="">
                        </div>
                        <span class="help-block">輸入訂單編號查詢</span>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="#{_crsf}" />
                <div class="loader"></div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">關閉</button>
                    <button type="button" class="btn blue sendBtn">送出</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="detail" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                    <span>&nbsp;&nbsp;Loading... </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="firm" role="basic" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">選擇供應商</h4>
                </div>
                <div class="modal-body" style="margin-left:20px">
                    <div class="row">
                        <div class="note note-info note-shadow">
                            <p>選擇供應商將列出供貨狀況紀錄，「日期區間」則會影響抓取供貨資料日期區間，未選日期區間將會以近三個月為主</p>
                        </div>
                    </div>
                    <div class="row" id="firmData">
                        <input type="hidden" name="_csrf" value="#{_crsf}" />
                        <div class="col-md-4">
                            <div class="input-group col-md-12">
                                <select class="form-control" name="store">
                                    <option value="not-select">請選擇廠商</option>
                                    if( firms )
                                        each row in firms
                                            <option value="#{row.MA001}">#{row.MA002}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control" id="form_control_1" name="partNo" data-request="true" placeholder="輸入品號查詢"  value="">
                            </div>
                            <span class="help-block">品號</span>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                <input type="text" class="form-control" name="start_date">
                                <span class="input-group-addon">~</span>
                                <input type="text" class="form-control" name="end_date">
                            </div>
                            <span class="help-block">日期區間</span>  
                                            
                        </div>
                        <div class="col-md-12"><div class="loader"></div></div>
                    </div>

                    <hr/>
                    
                    <div class="row" id="firmContent"></div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">關閉</button>
                    <button type="button" class="btn blue firmSendBtn">送出</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

block css
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css"/>
    <link rel="stylesheet" type="text/css" href="/plugin/sweetAlert/sweetalert.css"/>
    //- <link href="/plugin/editor/summernote.css" rel="stylesheet">
    <style>.loader{ display:none; border: 16px solid #f3f3f3;border-radius: 50%;border-top: 16px solid #3498db;width: 70px;height: 70px;-webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite;}@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }100% { -webkit-transform: rotate(360deg); } } @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }    </style>

block script
    <script type="text/javascript" src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/assets/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/plugin/sweetAlert/sweetalert.min.js"></script>
    <script src="/plugin/canvasjs/canvasjs.min.js"></script>
    //- <script src="/plugin/editor/summernote.js"></script>
    //- <script src="/javascripts/editor.js"></script>
    <script src="/javascripts/datepick.js"></script>
    <script src="/javascripts/search-firm.js"></script>
    <script src="/javascripts/firm-score.js"></script>

    //- if(result.message && result.data.length == 0)
    //-     <script>swal("查詢結果","#{result.message}", "info");</script>
    