extends ../dashboard

block content
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>組件明細頁 <small>Plants Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        <a class="btn" href="/plants/detail/#{params.orderNo}">
                            <i class="icon-action-undo">回上一頁</i>
                        </a>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">組件明細頁</a></li>
            </ul>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light">

                            <div class="portlet-body">
                                <div class="row inbox text-center">
                                    <div class="row">
                                        <div class="col-md-6 "><h4>所屬工單號: #{plant.TA002}</h4></div>
                                        <div class="col-md-6"><h4>預計開工: #{plant.TA009}</h4></div>            
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-md-12 "><h4>品號: #{(part)?part.MB001:""}</h4></div>
                                        <div class="col-md-12 "><h4>組件名稱: #{(part)?part.MB002 : ""}</h4></div>
                                        <div class="col-md-12"><h4>規格: #{(part)?part.MB003:""}</h4></div>            
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-md-6 "><h4>需要數量： #{(plantDetail )?plantDetail.TB004:""}</h4></div>
                                        <div class="col-md-6"><h4>已領用量： #{(plantDetail )?plantDetail.TB005:""}</h4></div>
                                        <div class="col-md-6"><h4>庫存數： #{(detail)?detail.MC007: ""}</h4></div>
                                        <div class="col-md-6"><h4>安全存量： #{(detail)?detail.MC004:""}</h4></div>
                                        <div class="col-md-6"><h4>標準存量： #{(detail)?detail.MC009:""}</h4></div>
                                    </div>
                                    <hr>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="portlet light tasks-widget">
                                                <div class="portlet-title">
                                                    <div class="caption caption-md">
                                                        <i class="icon-bar-chart theme-font-color hide"></i>
                                                        <span class="caption-subject theme-font-color bold uppercase">組建其他工單</span>
                                                        <span class="caption-helper">#{(detail)?detail.length : 0} 筆</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="task-content">
                                                        <div class="scroller" style="height: 310px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" >
                                                            <!-- START TASK LIST -->
                                                            <ul class="task-list">
                                                                if( ortherPlant.answer )
                                                                    each row in ortherPlant.data
                                                                        <li>
                                                                            <a class=" btn default" href="/plants/detail/#{row.TA002}">
                                                                                <div class="task-title">
                                                                                    <div class="col-md-12">工單 ：#{row.TA002}</div>
                                                                                    <div class="col-md-12">預計領料 ：#{row.TA009}</div>
                                                                                    <div class="col-md-12">需要量 ：#{row.TA015}   已領用 ：#{row.TA016}</div>
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                else
                                                                    <li>
                                                                        <div>#{ortherPlant.message}</div>
                                                                    </li>
                                                            </ul>
                                                            <!-- END START TASK LIST -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="portlet light tasks-widget">
                                                <div class="portlet-title">
                                                    <div class="caption caption-md">
                                                        <i class="icon-bar-chart theme-font-color hide"></i>
                                                        <span class="caption-subject theme-font-color bold uppercase">採購紀錄</span>
                                                        <span class="caption-helper">#{(detail)?detail.length:0} 筆</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="task-content">
                                                        <div class="scroller" style="height: 310px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" >
                                                            <!-- START TASK LIST -->
                                                            <ul class="task-list">
                                                                if( purchaseList.answer )
                                                                    each row in purchaseList.data
                                                                        -var stockEnd = ( row.TD016 === 'N' )? "未結束" : '已結束'
                                                                        -var stateText = ( row.TD025 === 'Y' )? "急料" : "非急料"
                                                                        -var stateColor = ( row.TD025 === 'Y' )? '#b13f3f' : "#44963c"
                                                                        -var showEdit = ( canEdit )? `href="#basic" data-toggle="modal"`: `href="javascript:;"`
                                                                        <li>
                                                                            <a class=" btn default" #{showEdit}>
                                                                                <div class="task-title">
                                                                                    <div class="col-md-12">
                                                                                        <span style="color:#{stateColor}">#{stateText}</span>
                                                                                        <span id="purchase_no">採購單號：#{row.TD002}</span>
                                                                                    </div>
                                                                                    <div class="col-md-12">採購日期：#{row.HEAD.TC003}  預計交貨日：#{row.TD012}</div>
                                                                                    <div class="col-md-12">採購數量：#{row.TD008} [#{row.TD009}]</div>
                                                                                    <div class="col-md-12">已交貨數:#{row.TD015} 是否交貨完畢: #{stockEnd}</div>
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                else
                                                                    <li>
                                                                        <div>#{purchaseList.message}</div>
                                                                    </li>
                                                            </ul>
                                                            <!-- END START TASK LIST -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!--end portlet-->    
                    </div>
                    <!--end col-md-12-->    
                </div>
                <!--end row-->
            </div>
        <div>
    </div>

    if( canEdit )
        <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">回填採購單「」交貨日期</h4>
                    </div>
                    <div class="modal-body" style="margin-left:20px">
                        <div class="row">
                            <div class="note note-info note-shadow">
                                <p>回填此張採購單之交貨日期</p>
                            </div>
                            <div class="input-group input-large date-picker" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                <input type="text" class="form-control" name="back_date">
                            </div>
                            <span class="help-block">選擇交貨日期</span>
                        </div>                 
                    </div>

                    <input type="hidden" name="_csrf" value="#{_csrf}" />
                    <div class="modal-footer">
                        <button type="button" class="btn default" data-dismiss="modal">關閉</button>
                        <button type="button" class="btn blue sendBtn">送出</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
block css
    if(canEdit)
        <link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"/>
block script

    if(canEdit)
        <script type="text/javascript" src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="/javascripts/set-date.js"></script>