<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	<h4 class="modal-title">收貨狀況</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12 form">
			<div class="form-body ">

				<div class="col-md-6">
					<div class="form-group form-md-line-input">
						<span class="form-control"  id="form_control_1" >#{data.TD002}</span>
						<label for="form_control_1">採購單號</label>
					</div>			
				</div>
				<div class="col-md-6">
					<div class="form-group form-md-line-input">
						<span class="form-control"  id="form_control_1" >#{data.TD004}</span>
						<label for="form_control_1">品號</label>
					</div>	
				</div>
				<div class="col-md-12">
					<div class="form-group form-md-line-input">
						<span class="form-control"  id="form_control_3" >#{data.TD005}</span>
						<label for="form_control_3">品名</label>
					</div>			
				</div>
				<div class="col-md-12">
					<div class="form-group form-md-line-input">
						<span class="form-control"  id="form_control_4" >#{data.TD006}</span>
						<label for="form_control_4">規格</label>
					</div>	
				</div>

				<div class="col-md-6">
					<div class="form-group form-md-line-input">
						<span class="form-control"  id="form_control_5" >#{data.TD012}</span>
						<label for="form_control_5">預計交貨日期</label>
					</div>			
				</div>
				<div class="col-md-6">
					<div class="form-group form-md-line-input">
						<span class="form-control"  id="form_control_6" >#{data.TD015}</span>
						<label for="form_control_6">採購數量</label>
					</div>	
				</div>
				<form id="score" >
					<input type="hidden" name="_csrf" value="#{_crsf}" />
					<input type="hidden" name="po_number" value="#{data.TD002}" />
					<input type="hidden" name="store_id" value="#{data.HEAD.TC004}" />
					<input type="hidden" name="item_id" value="#{data.TD004}" />
					
					<div class="form-group form-md-line-input">
						<label for="form_control_5">退貨數量</label>
						if( data.Score && data.Score.returns )
							<span class="form-control">#{data.Score.returns}</span>
						else
							<input class="form-control" type="number" min="0" max="#{data.TD015}" name="returns" placeholder="輸入退貨數量"  />
					</div>
					if( data.Score && 0 )
						<div class="form-group form-md-line-input">
							<label for="form_control_5">退貨補回數量</label>
							if( !data.Score.returns )			
								<input class="form-control" type="number" min="0" max="#{data.Score.returns}" name="pay_back" placeholder="輸入補回數量"  />
							else if ( data.Score && data.Score.Detail )
								<span class="form-control">#{data.Score.Detail.pay_back}</span>
						</div>

					<div class="form-group form-md-line-input">
						if( data.Score && data.Score.note )
							<span class="form-control">#{data.Score.note}</span>
						else
							<textarea class="form-control" name="note"></textarea>
						<label for="form_control_6">不良原因</label>
					</div>	
					<div class="form-group form-md-line-input">
						if( data.Score && data.Score.action )
							<span class="form-control">#{data.Score.action}</span>
						else
							<textarea class="form-control" name="action"></textarea>
						<label for="form_control_6">處理結果</label>
					</div>
				</form>	
			</div>

		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn default" data-dismiss="modal">關閉</button>
	<button type="button" class="btn blue" id="save" >儲存</button>
</div>
<script src="/javascripts/firm-save.js"></script>
<script> (function(){ $('.make-switch').bootstrapSwitch(); })(); </script>