extends template
block css 
    <style>.text{ text-align: center; font-size: 16px; }</style>

block content
    <div class="portlet solid ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>啟用帳號
            </div>
        </div>
        <div class="portlet-body">
            <p class="text">假設您還沒有erp的帳號，請向電腦室申請再參照以下流程開通進入</p>
            p( class="text" )
            <p class="text"> 1. 先點選下圖中「註一」<br><img src="/images/account/1.png" /></p>
            <p class="text"> 2.將erp的「帳號」輸入進欄位中，並輸入一個可收信的信箱<br><img src="/images/account/2.png" /></p>
            <p class="text"> 3.出現「已發送驗證碼，請收信並填入驗證碼欄位中」此時不要關閉網頁，另開頁面或到收信軟體中收取驗證碼填入並送出<br><img src="/images/account/3.png" /></p>
            <p class="text"> 4.驗證碼確認無誤後，將會轉跳到設定新密碼的畫面，<span style="color:red"> 注意，此組密碼只應用於此線上系統，不影響原本erp的密碼。</span><br><img src="/images/account/4.png" /></p>
            <p class="text"> 5.如果出現「密碼已重新設定」等字樣，代表已經重新設定完成，可用來登入線上系統<br><img src="/images/account/5.png" /></p>
            <div class="text">
                a(href="/manual/index", title="title") 返回說明列表頁
            </div>
        </div>
    </div>