extends template

block content
    <div class="row">
        <div class="col-md-6">
            <div class="dashboard-stat blue-hoki">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">啟用帳號</div>
                    <div class="desc">假設你已經有erp系統的帳號，進入看詳細流程</div>
                </div>
                <a class="more" href="/manual/account">觀看詳細流程 <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="dashboard-stat blue-hoki">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number"></div>
                    <div class="desc"></div>
                </div>
                <a class="more" href="javascript:;">View more <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>