extends ../dashboard

block content
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>訊息公告管理 <small>News Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        a(class="btn" href=baseUrl+"/system/news")
                            <i class="icon-action-undo"> 回列表頁</i>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="#{baseUrl}/system/news">訊息公告列表</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">新增</a>
            </ul>
        <div>
    </div>

    <div class="modal-content">
        <form action="#{baseUrl}/system/news/store" method="POST" enctype="multipart/form-data">
            <div class="modal-header">
                <h4 class="modal-title">新增訊息公告</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <input type="hidden" name="_csrf" value="#{_token}"/>
                        <div class="col-md-12 ">
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                            <div class="portlet light">
                                <div class="portlet-body form">
                                        <div class="form-body">

                                            <div class="form-group form-md-line-input">
                                                <input type="text" class="form-control"  id="form_control_1" name="title" placeholder="輸入公告標題" value="">
                                                <label for="form_control_1">訊息公告標題</label>

                                            </div>

                                            <div class="form-group form-md-line-input">
                                                <input type="file" class="form-control" id="form_control_2" name="addfile" placeholder="Enter your email">
                                                <label for="form_control_2">附加檔案</label>
                                                <span class="help-block">上傳此訊息公告相關檔案</span>
                                            </div>
                                            //- <div class="form-group form-md-line-input has-success">
                                            //-     <textarea class="form-control" rows="7" name="content" placeholder="Enter more text"></textarea>
                                            //-     <label for="form_control_3">訊息公告內容</label>
                                            //- </div>
                                        </div>
                                </div>
                                
                            </div>
                            <!-- END SAMPLE FORM PORTLET-->
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn default">關閉</button>
                <button type="submit" class="btn green">儲存</button>
            </div>
        </form>
    </div>
block css
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/select2/select2.css"/>
block script
    <script type="text/javascript" src="/assets/global/plugins/select2/select2.min.js"></script>
    <script src="/javascripts/tag.js"></script>