extends ../dashboard

block content
    -var showText = (canEdit)?`發出去的訊息公告`:`收到的訊息公告`
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>訊息公告管理 <small>News Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                
                        <div class="btn-group btn-theme-panel">
                            if(loginUser.super_user)
                                <a class="btn" id="deleteAll" data-method="news" >
                                    <i class="icon-fire"> 確認刪除</i>
                                </a>
                            if(canEdit)
                                <a class="btn" href="#{baseUrl}/system/news/create">
                                    <i class="icon-plus"> 新增</i>
                                </a>
                        </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">訊息公告列表</a></li>
            </ul>

            <div class="row">

                <div class="col-md-12 ">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet light tasks-widget">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font-color hide"></i>
                                <span class="caption-subject theme-font-color bold uppercase">#{showText}</span>
                                <span class="caption-helper">#{result.datas.length} 筆</span>
                            </div>
                            if(canEdit)
                                <div class="inputs">
                                    <input type="hidden" name="_csrf" value="#{_token}"/>
                                    <div class="portlet-input input-inline input-small ">
                                        <div class="input-icon right">
                                            <a href="javascript:;" id="deleteSelectRow" class="btn default" data-link="/system/news/delete" >刪除所選項目</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="portlet-body">
                            <div class="task-content">
                                <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" >
                                    <!-- START TASK LIST -->
                                    <ul class="task-list">
                                        if( result.datas.length > 0 )
                                            each row in result.datas
                                                - var has_change = ( row.Change.length >0 )? "有修改": ""
                                                - var is_see = ( row.is_see )? "已讀" : "未讀"
                                                - var see_class = ( row.is_see )? "label-success" : "label-danger"
                                                <li>
                                                    <div class="task-title">
                                                        if( canEdit )
                                                            <input type="checkbox" name="id[]" value="#{row.id}">
                                                        <span class="task-title-sp">
                                                            a( href=baseUrl+"/system/news/show/"+row.id) #{row.title}
                                                        </span>
                                                        if( has_change )
                                                            <span class="label label-sm label-danger">#{has_change}</span>
                                                        <span class="label label-sm #{see_class}">#{is_see}</span>
                                                        if( row.is_delete )
                                                            <span class="label label-sm label-danger">此筆已刪除，其他人看不到</span>
                                                    </div>
                                                </li>
                                    </ul>
                                    <!-- END START TASK LIST -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>
        <div>
    </div>

block script
    <script src="/assets/reload.js"></script>
    <script src="/javascripts/selectDelete.js"></script>