extends ../layout

block content
    <h2>公告通知信</h2>
    <p>
        <span style="color: red;">#{userInfo.user_name}</span> 發出一則公告訊息「<span style="color: red;">#{( thisNews )?thisNews.title:""}</span>」，請登入系統「<a href="javascript:;"></a>」查看。
    </p>