extends ../dashboard

block content
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>工單明細頁 <small>Plants Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        <a class="btn" href="/system/plant#{backLink}">
                            <i class="icon-action-undo">回上一頁</i>
                        </a>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">工單明細頁</a></li>
            </ul>
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light">

                            <div class="portlet-title">
                                <div class="caption font-red-sunglo">
                                    <i class="icon-settings font-red-sunglo"></i>
                                    <span class="caption-subject bold uppercase">工單：#{result.TA002}</span>
                                </div>
                            </div>

                            <div class="portlet-body">
                                <div class="row inbox">
                                    <div class="form-group form-md-line-input text-center">
                                        <h4>產品名: #{result.TA034}</h4>
                                        <h4>規格: #{result.TA035}</h4>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-6">
                                        <span class="form-control"  id="form_control_3" >#{result.TA009}</span>
                                        <label for="form_control_3">預計開工：</label>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-6">
                                        <span class="form-control"  id="form_control_4" >#{result.TA010}</span>
                                        <label for="form_control_4">預計完工：</label>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-6">
                                        <span class="form-control"  id="form_control_1" >#{result.TA015}</span>
                                        <label for="form_control_1">預計產量：</label>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-6">
                                        <span class="form-control"  id="form_control_2" >#{result.TA016}</span>
                                        <label for="form_control_2">已領套數：</label>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-6">
                                        <span class="form-control"  id="form_control_4" >#{result.TA017}</span>
                                        <label for="form_control_4">已生產量：</label>
                                    </div>
                                    <div class="form-group form-md-line-input col-md-6">
                                        <span class="form-control"  id="form_control_4" >#{result.TA018}</span>
                                        <label for="form_control_4">報廢數量：</label>
                                    </div>

                                    if( detail.length > 0 )
                                        <div class="portlet light tasks-widget text-center">
                                            <div class="portlet-title">
                                                <div class="caption caption-md">
                                                    <i class="icon-bar-chart theme-font-color hide"></i>
                                                    <span class="caption-subject theme-font-color bold uppercase">缺件列表</span>
                                                    <span class="caption-helper">#{detail.length} 筆</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body ">
                                                <div class="task-content">
                                                    <div class="scroller" style="height: 350px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" >
                                                        <!-- START TASK LIST -->
                                                        <ul class="task-list">
                                                            each row in detail
                                                                -var orderNo = row.TB002.trim()
                                                                -var partNo = row.TB003.trim()
                                                                <li>
                                                                    <a class=" btn default" href="/plants/part-detail/#{orderNo}/#{partNo}">
                                                                        <div class="task-title">
                                                                            <div class="col-md-12">#{row.TB012}  [ 料號: #{row.TB003} ]</div>
                                                                            <div class="col-md-12">規格：#{row.TB013}</div>
                                                                            <div class="col-md-12">預計領料 ：#{row.TB015} </div>
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                        </ul>
                                                        <!-- END START TASK LIST -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                            </div>

                        </div>
                        <!--end portlet-->
                    </div>
                    <!--end col-md-12-->
                </div>
                <!--end row-->
            </div>
        <div>
    </div>
