extends ../dashboard

block content
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>工單列表 <small>Plants Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        a(class="btn" data-target="#modal" data-toggle="modal")
                            <i class="icon-magnifier">按我搜尋</i>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">工單列表</a></li>
            </ul>
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        <div id="pagination" style="padding-bottom:10px; text-align:right;">
                            if( result.pageCount > 2 || result.pageCount == 2 )
                                -var n = 0;
                                <div style="display:inline-block; font-size:16px;">分頁： </div>
                                <div style="display:inline-block" id="selectDiv">
                                    <select id="page">
                                        while n < result.pageCount
                                            -var selected = (n+1 == result.nowPage)? "selected": ""
                                            <option value="#{n+1}" #{selected}>第#{n+1}頁</option>
                                            -n++
                                    </select>
                                </div>
                        </div>
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">工單</div>
                            </div>
                            <div class="portlet-body flip-scroll">
                                <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="numeric">PO Number</th>
                                        <th class="numeric">產品品號</th>
                                        <th class="numeric">產品品名</th>
                                        <th class="numeric">產品規格</th>
                                        <th class="numeric">預計開工</th>
                                        <th class="numeric">預計完工</th>
                                        <th class="numeric">預計產量</th>
                                        <th class="numeric">已生產量</th>
                                        <th class="numeric">已領套數</th>
                                        <th class="numeric"></th>
                                    </tr>
                                </thead>
                                <tbody id="list">
                                    if( result.data.length > 0 )
                                        each row in result.data
                                            <tr>
                                                <td class="numeric">#{row.TA033}</td>
                                                <td class="numeric">#{row.TA006}</td>
                                                <td class="numeric">#{row.TA034}</td>
                                                <td class="numeric">#{row.TA035}</td>
                                                <td class="numeric">#{row.TA009}</td>
                                                <td class="numeric">#{row.TA010}</td>
                                                <td class="numeric">#{row.TA015}</td>
                                                <td class="numeric">#{row.TA017}</td>
                                                <td class="numeric">#{row.TA016}</td>
                                                <td class="numeric">
                                                    <a class=" btn default" href="/plants/detail/#{row.TA002}" >查看</a>
                                                </td>
                                            </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END 工單 TABLE PORTLET-->
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">採購單</div>
                            </div>
                            <div class="portlet-body flip-scroll">
                                <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="numeric">PO Number</th>
                                        <th class="numeric">採購單號</th>
                                        <th class="numeric">急料</th>
                                        <th class="numeric">品號</th>
                                        <th class="numeric">品名</th>
                                        <th class="numeric">規格</th>
                                        <th class="numeric">單位</th>
                                        <th class="numeric">預計交貨日</th>
                                    </tr>
                                </thead>
                                <tbody id="PurchaseList">
                                    if( result.purchase.answer )
                                        each row in result.purchase.dataList
                                            <tr>
                                                <td class="numeric">#{row.TD024}</td>
                                                <td class="numeric">#{row.TD002}</td>
                                                <td class="numeric">#{row.TD025}</td>
                                                <td class="numeric">#{row.TD004}</td>
                                                <td class="numeric">#{row.TD005}</td>
                                                <td class="numeric">#{row.TD006}</td>
                                                <td class="numeric">#{row.TD009}</td>
                                                <td class="numeric">#{row.TD012}</td>
                                            </tr>
                                    else
                                        <tr>
                                            <td class="numeric" colspan="8" align="center">沒有採購單</td>
                                        </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END 採購單 TABLE PORTLET-->

                    </div>
                </div>
            </div>
        <div>
    </div>

    <div class="modal fade " id="modal" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">搜尋工單</h4>
                </div>
                <div class="modal-body" style="margin-left:20px">
                    <div class="row">
                        <div class="note note-info note-shadow">
                            <p>「輸入訂單查詢」如果有輸入訂單號，搜尋的內容將會以「訂單號」為主要條件搜尋</p>
                        </div>
                        <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                            <input type="text" class="form-control" name="from">
                            <span class="input-group-addon">~</span>
                            <input type="text" class="form-control" name="to">
                        </div>
                        <span class="help-block">選擇日期區間</span>
                    </div>
                    <div class="row">
                        <div class="input-group">
                            <input type="text" class="form-control"  id="form_control_1" name="poNumber" data-request="true" placeholder="輸入訂單編號查詢"  value="">
                        </div>
                        <span class="help-block">輸入訂單編號查詢</span>
                        <hr />
                        <div class="input-group">
                            -var status_check = (result.order_status == '1')?"checked": ""
                            <span class="help-block">查詢條件：</span>
                            <input type="checkbox" class="form-control" name="order_status" #{status_check} data-request="true" value="1"><span>未完成工單</span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="#{_csrf}" />
                <div class="loader"></div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">關閉</button>
                    <button type="button" class="btn blue sendBtn">送出</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="row" style="display:none;">
        <form>
            <input type="hidden" name="_csrf" value="#{_csrf}" />
            <input type="file" name="upload" multiple>
        </form>
        <div  class="btn-toolbar" data-role="editor-toolbar"data-target="#editor"></div>
        <textarea class="drag-text" >ewewe</textarea>
        <textarea class="drag-text" >ewew323232e</textarea>
    </div>

block css
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css"/>
    <link rel="stylesheet" type="text/css" href="/plugin/sweetAlert/sweetalert.css"/>
    //- <link href="/plugin/editor/summernote.css" rel="stylesheet">
    <style>.loader{ display:none; border: 16px solid #f3f3f3;border-radius: 50%;border-top: 16px solid #3498db;width: 100px;height: 100px;-webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite;}@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }100% { -webkit-transform: rotate(360deg); } } @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }    </style>

block script
    <script type="text/javascript" src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/assets/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/plugin/sweetAlert/sweetalert.min.js"></script>
    //- <script src="/plugin/editor/summernote.js"></script>
    //- <script src="/javascripts/editor.js"></script>
    <script src="/javascripts/datepick.js"></script>
    <script src="/javascripts/search.js"></script>

    if(result.message && result.data.length == 0)
        <script>swal("查詢結果","#{result.message}", "info");</script>
