extends ../dashboard

block content
    -var postLink = ( result.canEdit )? `${baseUrl}/system/news/update` : ``
    -var blockSet = ( result.canEdit )? `6` : `12`;
    -var recordBlockSet = ( result.canEdit )? `6` : `4`;
    <div class="row">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>訊息公告管理 <small>News Manager</small></h1>
                </div>
                <div class="page-toolbar">
                    <!-- BEGIN THEME PANEL -->
                    <div class="btn-group btn-theme-panel">
                        a(class="btn" href=baseUrl+"/system/news")
                            <i class="icon-action-undo"> 回列表頁</i>
                    </div>
                    <!-- END THEME PANEL -->
                </div>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
                <li><a href="#{baseUrl}/system/news">訊息公告列表</a><i class="fa fa-circle"></i></li>
                <li><a href="javascript:;">修改</a>
            </ul>
        <div>
        <div class="col-md-#{blockSet}">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="icon-settings font-red-sunglo"></i>
                        <span class="caption-subject bold uppercase">#{result.News.title} - 詳細訊息公告</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        //- <div class="form-group form-md-line-input">
                        //-     <div class="form-control" id="form_control_0">
                        //-         each row in result.allDeparment
                        //-             if( result.Departs.indexOf(row.ME001)>0 )
                        //-                 <a href="javascript:;" class="btn default green-stripe">#{row.ME002}</a>
                        //-     </div>
                        //-     <label for="form_control_0">聯絡對象部門</label>
                        //- </div>
                        <div class="form-group form-md-line-input">
                            <span class="form-control"  id="form_control_1" >#{result.News.title}</span>
                            <label for="form_control_1">聯絡單標題</label>

                        </div>
                        //- <div class="form-group form-md-line-input">
                        //-     <div class="form-control" id="form_control_2">
                        //-         <a href="/system/news/download/#{result.News.id}">
                        //-             <i class=" icon-cloud-download">#{result.News.file}</i>
                        //-         </a>
                        //-     </div>
                        //-     <label for="form_control_3">下載附加檔案</label>
                        //- </div>
                        <div class="form-group form-md-line-input has-success">
                            <textarea class="form-control" rows="13" id="form_control_4" name="content" placeholder="Enter more text">#{result.News.content}</textarea>
                            <label for="form_control_4">聯絡單內容</label>
                        </div>
                    </div>
                    if( result.News.Record )
                        <div class="form-group form-md-line-input">
                            <label for="form_control_5">觀看紀錄</label>
                            <div id="form_control_5">
                                each row in result.News.Record
                                    <div class="col-md-#{recordBlockSet}">#{row.Info.role.ME002}-#{row.Info.MF002} [#{row.createdAt} ]</div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        if( result.canEdit )
            <div class="col-md-#{blockSet}">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="icon-settings font-red-sunglo"></i>
                            <span class="caption-subject bold uppercase">編輯</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form action="#{postLink}" method="POST" enctype="multipart/form-data">
                            <div class="form-body">
                                input(type="hidden" name="_csrf" value=result._token)
                                input(type="hidden" name="id" value=result.News.id)
                                //- <div class="form-group form-md-line-input">
                                //-     if(result.allDeparment)
                                //-         <select class="form-control select2me" name="to_department" multiple="multiple">
                                //-             each row in result.allDeparment
                                //-                 -var onSelected = ( result.Departs.indexOf(row.ME001)>0 )? `selected` : ``
                                //-                 <option value="#{row.ME001}" #{onSelected}>#{row.ME002}</option>
                                //-         </select>
                                //-     <label for="form_control_0">選擇聯絡對象部門</label>
                                //- </div>
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control"  id="form_control_1" name="title" placeholder="輸入聯絡單標題" value="#{result.News.title}">
                                    <label for="form_control_1">聯絡單標題</label>

                                </div>
                                //- <div class="form-group form-md-line-input">
                                //-     <div class="form-control" id="form_control_2">
                                //-         input(type="file" name="addfile"  value=result.News.file)
                                //-     </div>
                                //-     <label for="form_control_2">上傳附加檔案</label>
                                //- </div>
                                <div class="form-group form-md-line-input has-success">
                                    <textarea class="form-control" rows="13" id="form_control_4" name="content" placeholder="Enter more text">#{result.News.content}</textarea>
                                    <label for="form_control_4">聯絡單內容</label>
                                </div>
                                <div class="form-actions noborder">
                                    <button type="button" data-dismiss="modal" class="btn default">關閉</button>
                                    <button type="submit" class="btn green">儲存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>

block css
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/select2/select2.css"/>
block script
    <script type="text/javascript" src="/assets/global/plugins/select2/select2.min.js"></script>
    <script src="/javascripts/tag.js"></script>