extends ../dashboard

block content
    <div class="page-head">
        <div class="page-title">
            <h1>聯絡單管理 <small>Connection Manager</small></h1>
        </div>
        <div class="page-toolbar">
            <!-- BEGIN THEME PANEL -->
            <div class="btn-group btn-theme-panel">
                a(class="btn" data-target="#ajax" data-toggle="modal" href=baseUrl+"/system/connection/create")
                    <i class="icon-plus"> 新增</i>
            </div>
            <!-- END THEME PANEL -->
        </div>
    </div>
    <ul class="page-breadcrumb breadcrumb">
        <li><a href="#{baseUrl}/system">首頁</a><i class="fa fa-circle"></i></li>
        <li><a href="javascript:;">聯絡單列表</a></li>
    </ul>

    <div class="row">

        <div class="col-md-12">
            <div class="tabbable tabbable-custom tabbable-noborder">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#toDepartment" data-toggle="tab">聯絡單</a>
                    </li>
                    <li>
                        <a href="#myself" data-toggle="tab">自己發出的聯絡單</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="toDepartment">
                        <div class="row">
                            if( result.datas )
                                each row in result.datas
                                    <div class="col-md-6 ">
                                        <!-- BEGIN Portlet PORTLET-->
                                        <div class="portlet box blue-hoki">
                                            <div class="portlet-title">
                                                <div class="caption"><i class="fa fa-gift"></i>#{row.title}</div>
                                                <div class="actions">
                                                    if(row.file)
                                                        <a href="javascript:;" class="btn btn-default btn-sm">
                                                            <i class="fa fa-file"></i> 附加檔下載 
                                                        </a>
                                                    <a class="btn btn-icon-only btn-default btn-sm fullscreen" href="javascript:;" data-original-title="" title=""></a>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">
                                                    <div class="scroller" style="height: 200px; overflow: hidden; width: auto;" data-initialized="1">
                                                        <pre>#{row.content}</pre>
                                                    </div>
                                                    <div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 200px;"></div>
                                                    <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Portlet PORTLET-->
                                    </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="myself">
                        <div class="row">
                            if( result.selfConn )
                                each row in result.selfConn
                                    <div class="col-md-6 ">
                                        <!-- BEGIN Portlet PORTLET-->
                                        <div class="portlet box blue-hoki">
                                            <div class="portlet-title">
                                                <div class="caption"><i class="fa fa-gift"></i>#{row.title}</div>
                                                <div class="actions">
                                                    if(row.file)
                                                        <a href="javascript:;" class="btn btn-default btn-sm">
                                                            <i class="fa fa-file"></i> 附加檔下載 
                                                        </a>
                                                    <a class="btn btn-icon-only btn-default btn-sm fullscreen" href="javascript:;" data-original-title="" title=""></a>
                                                </div>
                                            </div>

                                            <div class="portlet-body">
                                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;">
                                                    <div class="scroller" style="height: 200px; overflow: hidden; width: auto;" data-initialized="1">
                                                        <pre>#{row.content}</pre>
                                                    </div>
                                                    <div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 200px;"></div>
                                                    <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Portlet PORTLET-->
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ajax" data-width="780">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                    <span>&nbsp;&nbsp;Loading... </span>
                </div>
            </div>
        </div>
    </div>