extends ../layout

block content
    <h2>聯絡單通知信</h2>
    <p>
        <span style="color: red;">#{userInfo.user_name}</span> 發出一張聯絡單「#{( newCon )?newCon.title:""}」，請登入系統「<a href="javascript:;"></a>」查看。
    </p>